* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #004d99;
    color: white;
    padding: 15px 30px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 5%
}

.header-nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-nav a:hover {
    background-color: #09f162;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-icon {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #f1f1f1;
    width: 25%;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #ee0505;
}

.content {
    width: 75%;
    padding: 20px;
    background-color: white;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 15px;
}

.content ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.content li {
    margin-bottom: 5px;
    color: #666;
}